---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import HeroSection from "../sections/HeroSection.astro";
import ContactSection from "../sections/ContactSection.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
    <header>
        <Navbar />
    </header>
    <main>
        <HeroSection />
        <ContactSection />
    </main>
    <Footer />
</Layout>
